<div
  class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-dark text-white border-bottom shadow-sm">
  <h1 class="my-0 mr-md-auto font-weight-normal">
    <div class="fa fa-shopping-cart"></div>
    <app-header></app-header>

  </h1>

  <nav class="my-2 my-md-0 mr-md-3">


  </nav>
  <div>
    <a class=" btn btn-outline-primary" routerLink="/shopping-cart">Home</a>
  </div>
  &nbsp;
  <div>
    <a class=" btn btn-outline-warning fa fa-shopping-cart text-white " routerLink="/Cart">MyCart</a>
  </div>
  &nbsp;
  <a class="btn btn-outline-primary" routerLink="/login-page">Login</a>


</div>